@use "colors" as c;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background: c.$clr_black;
    border-radius: 5px;
}

#container{
    width: 100%;
    min-height: 100vh;
}