<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecno | Team</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header id="header">
        <div id="logo">
            <h2>Tecno</h2>
        </div>
        <nav id="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="../index.html" class="nav_link">Home</a></li>
                <li class="nav_item"><a href="team.html" class="nav_link">Team</a></li>
                <li class="nav_item"><a href="services.html" class="nav_link">Services</a></li>
                <li class="nav_item"><a href="contact.html" class="nav_link">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="container">
        <div id="team">
            
        </div>
    </div>
</body>
</html>