@use "../colors" as c;
@import "../includes/header-page";

#services{
    width: 100%;
    min-height: 100vh;

    .section{
        min-height: inherit;

        @include config-header('../../img/images/img6.jpg');
    }
}